.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 40px;
  padding-top: 60px;
  width: 440px;
  min-height: 100vh;
  overflow-y: auto;
  background-color: rgb(247, 247, 247);
  z-index: 1;
}

.listTitle {
  margin-top: 20px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  color: rgb(109, 109, 109);
}

.listTitle:hover {
  color: rgb(26, 26, 26);
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.link:hover {
  opacity: 0.8;
}

.btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgb(32, 35, 42);
  border-radius: 50%;
  cursor: pointer;
  z-index: 23433;
}

.arrow, .cross {
  font-size: 18px;
  font-weight: bold;
  color: rgb(97, 218, 251);
}

.cross {
  font-size: 30px;
  margin-bottom: 4px;
}

.arrowNotVisible {
  display: none;
}

.crossNotVisible {
  display: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .menu {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    width: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu {
    width: 170px;
    padding-left: 20px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .menu {
    display: none;
  }
  .btn {
    display: flex;
  }
  .activeMenu {
    display: block;
  }
}