.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  margin-right: 600px;
}

.btn {
  cursor: pointer;
}
